body {
    background-color: #edefee;
    font-family:'Times New Roman', Times, serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header  img {
    width: 30rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

footer img {
    width: 150px;
}

nav {
    margin: 0.5rem;
    background-color: #363232;
    padding: 0.3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.5rem;

}

nav li a:link, nav li a:visited {
    text-decoration: none;
    color: #edefee;
}

nav li a:hover, nav li a:active {
    background-color: #edefee;
    color: #363232;
    padding: 0.7rem;
    border-radius: 1rem;
}

@media screen and (max-width: 700px) {
    section {   
      flex-direction: column;
    }
}

section {
    display: flex;
}

article {
    flex: 1;
    border-radius: 1rem;
    padding: 1rem;
    color: #363232;
    background-color: #fff;
    margin: 1rem;
}

.main-heading {
    background-image: url("heading1.webp");
    background-size: 100% 100%;
}

footer {
    margin: 2rem;
    display: flex;
}

footer div {
    flex: 1;
}

.copyright {
    text-align: right;
    border: #363232;
}

article a {
    padding: 0.5rem;
    background-color: #363232;
    border-radius: 0.5rem;
    color: #edefee;
    text-decoration: none;
}

article a:link, article a:visited {
    color: #edefee;
}

article a:hover, article a:active {
    background-color: #edefee;
    color: #363232;
}

main section:first-child article p {
    width: 50%;
}

.info-article {
    background-image: url("info-bg.webp");
    background-size: 100% 100%;
}

input, textarea, button {
    border-radius: 0.3rem;
    font-family: 'Times New Roman', Times, serif;
    color: #363232;
    font-size: 1.5rem
}

label {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 20%;
    max-width: 25%;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 90%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }